body{
    text-align: center;
    font-family: cursive;
    background-image: url(profile-back.jpg);
    background-repeat: no-repeat;
}
.user-info{
    text-align: left;
    font-size: 30px;
    color: black;
    font-family: cursive;
    font-weight: bold;
    width: 100%;
}
#profile{
    border-radius: 50%;
}
a:link{
    text-decoration: none;
    color: rgb(54, 4, 54);
}
a:hover{
    color: rgb(12, 39, 39);
    text-decoration: underline solid;
}