body{
    text-align: center;
    font-family: cursive;
    color: rgb(71, 12, 98);
    background-image: url(reset-back.jpg);
    font-size: 30px;
}

h1{
    font-size: 60px;
}

input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

p{
    color: rgb(2, 3, 12);
}