body{
    text-align: center;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    font-family: cursive;
}
.profile-link{
    font-weight: bolder;
    font-size: 30px;
    color: darkslategray;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: rgb(100, 189, 189);
    text-decoration: underline solid;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    background-color: rgba(1, 184, 216, 0.678);
    border-radius: 25%;
    color: rgb(3, 29, 20);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
}
button:hover{
    background-color: #4caf50;
    color: antiquewhite;
    box-shadow: 0 7px 16px 0 rgb(27, 8, 8), 0 7px 20px 0 rgb(27, 8, 8);
}
h1{
    font-size: 60px;
}
#image-hover:hover{
    box-shadow: 0 7px 16px 0 rgb(192, 25, 25), 0 7px 20px 0 rgb(192, 25, 25);
    background: transparent;
    box-sizing: inherit;
}